body {
    font-family: Tahoma;
    background-image: url("../images/background-pattern.png");
}

input[type="text"]:focus{
    outline:0px;
}

h1 {
    text-align: center;
    margin-top: 5px;
    color: #227722;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 10px;
}

label {
    margin: 3px 0;
    font-size: 14px;
}
       
table {
    box-shadow: 0 0 20px 1px #30FF30;
    background-color: #C8E6B4;
}

#divAjaxLoading {
    position: fixed;
    right: 10px;
    top: 10px;
    display: none;
}

    #divAjaxLoading img{
        width: 100px;
    }

#container {
    margin:  0 auto;
    width: 1000px;
    height: auto;
    padding: 10px 20px;
}

    .initForm {
        margin:  20px auto;
        width: 345px;
    }
        .initForm .form {
            border: 1.5px dashed;
            margin: 10px;
            padding: 10px;
            background-color: #C8E6B4;
            overflow: auto;
            border-radius: 5px;
        }
    
        .initForm input[type="text"] {
            margin: 3px;
            padding: 3px 10px;
            width: 275px;
            border: 1px solid black;
            border-radius: 50px 5px;
            font-style: italic;
            box-shadow: 0 2px 0 #AAAAAA inset;
        }
        
        .initForm input[type="button"] {
            float: right;
        }

#divMain {
    margin: 0px 15px;
    overflow: hidden;
    display: none;
} 

    #ulQuestions {
        border: 1px solid black;
        margin: 5px;
        font-size: 14px;
        list-style-type: none;
        padding: 0px;
        list-style-type: none;
    }
        #ulQuestions ul {
            margin-bottom: 20px;
            border-bottom: 1px solid black;
        }

        #ulQuestions .liQuestion {
            background:url('../images/sprite.png') no-repeat;
            background-position: -16px -227px;
            display: block;
            padding-left: 14px;
            background-size: 16px 16px;
        }